{% extends "master.html" %}

{% block title %}
    Pro-Gol_watch
{% endblock %}

{% block content %}
<div class="card">
    <h1 class="card-header">Bienvenidos a Pro-Gol_watch!!</h1>
    <div class="card-body">
        <p>Accede <a href="create_user/"> aqui </a> para crear un nuevo usuario</p>
        <p class="card-text"> <a href="videos/videos_guardados/"> Aqui </a> podras ver los videos registrados</p>
        <p>Ingresa <a href="/videos"> aqui </a>para ver los usuarios registrados</p>
    </div>
</div>
{% endblock %}

